# llms
tqdm
regex
transformers==4.51.3
unsloth==2025.5.6
unsloth_zoo==2025.5.7
vllm==0.8.5.post1
ipywidgets==8.1.7
matplotlib==3.10.3
deepdiff
fuzzywuzzy
tensorboardX==2.6.2.2
tiktoken==0.9.0
xlsxwriter
pandas

# JsonAnalise
bert_score
rouge-score
python-Levenshtein

# Util
cryptography
python-dotenv