# ==============================================================================
# 🔧 UTILITÁRIOS
# ==============================================================================
tqdm
regex==2026.2.28
PyYAML==6.0.3

ipywidgets==8.1.7
matplotlib==3.10.3
fuzzywuzzy==0.18.0
tensorboardX==2.6.2.2
tiktoken==0.9.0
xlsxwriter==3.2.9
pandas==2.3.3
openpyxl==3.1.5
seaborn==0.13.2

# ==============================================================================
# 📊 COMPARAÇÕES E ANÁLISE (JsonAnalise)
# ==============================================================================
bert_score==0.3.13
rouge-score==0.1.2
python-Levenshtein==0.27.3

# ==============================================================================
# ⚙️  UTIL
# ==============================================================================
cryptography
python-dotenv

# ==============================================================================
# 🌐 APIs
# ==============================================================================
openrouter
openai

# ==============================================================================
# ⚙️  Similar ao htop só que para GPU
# ==============================================================================
nvitop==1.7.0
